@model PaginatedList<Garage_3.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Fordon</h1>

<form asp-action="Index">
    <div class="input-group">
        <input type="text" name="regNum" class="form-control" placeholder="Sök regnummer..." />
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary px-4 font-weight-bold">
                Sök <i class="fas fa-search m1-2"></i>
            </button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().RegNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Owner.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().VehicleType.VehicleTypeName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        <a asp-action="Details" asp-route-id="@item.RegNum">
                            @Html.DisplayFor(modelItem => item.RegNum)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color.ColorName)
                    </td>
                    <td>
                        <a asp-controller="Owner" asp-action="Profile" asp-route-id="@item.MemberNumber">
                            @Html.DisplayFor(modelItem => item.Owner.UserName)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType.VehicleTypeName)
                    </td>

                    <td>
                        <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.RegNum">Redigera</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.RegNum">Ta bort</a>     
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="5" class="text-center">Inga fordon att visa</td></tr>
        }
    </tbody>
</table>
<br />

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-outline-secondary @prevDisabled">
    Föregående
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-outline-secondary @nextDisabled">
    Nästa
</a>
