@model IEnumerable<Garage_3.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Fordon</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.RegNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color.ColorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType.VehicleTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.RegNum">Redigera</a> |
                <a asp-action="Details" asp-route-id="@item.RegNum">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.RegNum">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
