@model IEnumerable<Garage_3.Models.ViewModel.OwnerIndexViewModel>

@{
    ViewData["Title"] = "OwnerIndex";
}

<h1>Medlemmar</h1>
<form asp-action="OwnerIndex">
    <div class="input-group">
        <input type="text" name="input" class="form-control" placeholder="Sök medlemmar..." />
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary px-4 font-weight-bold">
                Sök <i class="fas fa-search m1-2"></i>
            </button>
        </div>
    </div>
</form>
<p>
    <a asp-action="AddOwner">Skapa ny medlem</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleCount)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Profile" asp-route-id="@item.MemberNumber">
                    @Html.DisplayFor(modelItem => item.UserName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.VehicleCount)
            </td>
        </tr>
}
    </tbody>
</table>
