@model Garage_3.Models.ViewModel.Profile

@{
    ViewData["Title"] = "OwnerViewModel";
}

<h1>Medlem</h1>

<div>
    <h4>Profil</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="AddVehicle" asp-route-id="@Model.MemberNumber">Lägg till fordon</a>|
    <a asp-action="Park">Parkera ett fordon</a>
</p>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MemberNumber">Redigera</a> |
    <a asp-action="Delete" asp-route-id="@Model.MemberNumber">Ta bort profil</a> |
    <a asp-action="OwnerIndex">Tillbaka till medlemmar</a>
</div>
