@model PaginatedList<Garage_3.Models.ViewModel.OwnerIndexViewModel>

@{
    ViewData["Title"] = "OwnerIndex";
}

<h1>Medlemmar</h1>
<form asp-action="OwnerIndex">
    <div class="input-group">
        <input type="text" name="input" class="form-control" placeholder="Sök på användarnamn..." />
        <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary px-4 font-weight-bold">
                Sök <i class="fas fa-search m1-2"></i>
            </button>
        </div>
    </div>
</form>
<p class="m-2">
    <a asp-action="AddOwner">Skapa ny medlem</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().VehicleCount)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Profile" asp-route-id="@item.MemberNumber">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleCount)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="5" class="text-center">Det finns inga medlemmar att visa</td></tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="OwnerIndex"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-outline-secondary @prevDisabled">
    Föregående
</a>
<a asp-action="OwnerIndex"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-outline-secondary @nextDisabled">
    Nästa
</a>