@model Garage_3.Models.ViewModel.Profile

<div class="container">


    <div class="card">
        <h4 class="card-header">@Model.FirstName @Model.LastName</h4>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Telephone)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Telephone)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                    </dl>
                    <p>
                        <a asp-controller="Vehicles" asp-action="AddVehicle" asp-route-id="@Model.MemberNumber" class="btn btn-success m-2">Lägg till fordon</a>
                        @*<a asp-action="Park" class="btn btn-success m-2">Parkera ett fordon</a>*@
                    </p>
                </div>

                <div class="col-sm">
                    <h4>Ägda fordon</h4>
                    @if (Model.Vehicles.Count() > 0)
                    {
                        @foreach (var vehicle in Model.Vehicles)
                        {
                            <dl class="row">
                                <dt class="col-sm-3">
                                    <a asp-action="Details" asp-route-id="@vehicle.RegNum" class="text-dark">
                                        @Html.DisplayFor(v => vehicle.RegNum)
                                    </a>
                                </dt>
                                <dd class="col-sm-9">
                                    @if (vehicle.ParkedFlag == true)
                                    {
                                        <a asp-controller="Vehicles" asp-action="Park" asp-route-regNum="@vehicle.RegNum">
                                            <div class="badge badge-success p-1">Parkerad</div>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Vehicles" asp-action="Park" asp-route-regNum="@vehicle.RegNum">
                                            <div class="badge badge-secondary p-1">Parkera</div>
                                        </a>
                                        <a asp-controller="Vehicles" asp-action="ShowReceipt" asp-route-regNum="@vehicle.RegNum">
                                            <div class="badge badge-warning p-1">Klicka här för kvitto</div>
                                        </a>
                                            <div  class="parkEnded badge badge-warning p-1">Parkering stoppad!</div>
                                    }
                                </dd>
                            </dl>

                        }
                    }
                    else
                    {
                        <div class="col">Inga fordon.</div>
                    }



                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".parkEnded").fadeOut(3000);
    });
</script>